/* ==========================================================================
                   7I                                     I7   7 77                
                 777  777I7                           ,77  7:                   
                   7:7  777+                       7,77  7+777                  
                    7??    77I7,7                  ~7   7:7                     
                    777:      7 ~~77=~~77=~~77,? 777   7: 7                     
                      77: 7     7,,~~~~~~~~~~,~7      ~I                        
                         :7   7,~~,~~~~~~~~~~,~~I    : 7                        
                         7=~  ,~,,:~~~~:~~~~~,,::7 7:7                          
                           7:7,,,::::::::::::::,,?7:77                          
                           77:7:::::::::::::::::~::                             
                            7::?=~~~~~:::~~~~~~=::77                            
                            77:~~~~~~~~::~~~~~~~:77                             
                            7 7~~~~~~~~~~~~~~~~~:77                             
                              =~~~~~~~~~~~~~~~~~:77                             
                            777~~~~~~~~~~~~~~~~~:77                             
                            7::::~~~~~~~~~~~~~~:::7                             
                            7::7::~~~~~~~~~~~::7::?                             
                           7:::7~::~~~~~~~~~~::I:::I77                          
           77 7=:::::::::+I7~::7=~:~~~~~~~~~::~7?:+I+7::::::::::I 7             
       7::~7777 777777777I 7I777I~~:~~~~~~~::~~777I77777777  7 77777=::I        
 7 =7777              777777 7777~~~:~~~~~~:~~~II777I777I77             77 :77  
                    7777777777?7I~~~~:~~~~:~~~~7777777777777                    
                    77 77I777+7?7+~~~~::::~~~~7?II7777I777I7                    
                   777777777++7??77~~~~~~~~~=7???7+77777777777                  
                  777777777++7I???I7~~~~~~~~7????77+7777777 7777                
                77777777777?77I??I?777~77~I7??I??777+7777777  777               
              7777 7777777+77777777777777777777777777+77777777  777             
            7777  77 7777+7777777I?I7~~~~~~77??77  7 +II77777777 777            
           77I 7777777 77+ 7777???777777777777??I  77?+777777 I7  7777          
           777  77  7   7+ 7777777777~7?=7~777777  77I+I7  77 7I77 777          
         7 7  777777  77?+ 7  77???7~I~~=~7~?I??7  77++?77  77 77I7 7I7         
         7777777 777  77I  7    77777777777777777  777 +777 77777777777         
        77777777777 777+   7    7?7~~~~~~~~~~777    777 7777  777  777777       
        7I7777 7777 77I7   777  7I~7777777777~77   777  ?777    7777777I7       
        777I   77    I77   7I7  7I+I~~~~~~~~=?777  777   + 77    77 77I 7       
      77777  777   777     777 777~~~~~~~~~~~7  7 77     7+777    77   777      
      77777 777    7I7      77777  =~~~~~~~~    7777       +77   777    777     
      777   77    7I        7777    7=~~~~7      777        +I77   777   77     
      77   777   +77        7777      ~=~          77       7?77   777   77     
      77   777 7+777       777        77           77777      777   7777 77     
      77 77777+ 77        77                        77I77     77I7  7777777     
       7 777    777    777                            7777 7    7 7 777777      
      7777I7   77   77777                                7777777777   7777      
        I77   7777 77777                                    7777777777777       
         77777777777                                            77777777  
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}
body {
    background-color: #000;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#body2 {
    margin: 0;
    padding: 0;
}
#content2 {
    margin: 0;
    padding: 0;
}
/*
transitions
*/

.fadeIn {
    transition: 1s;
    transform: translateZ(0);
    opacity: 1;
}
.fadeOut {
    transition: 1s;
    transform: translateZ(0);
    opacity: 1;
}

.projectOn{
   /* filter: alpha(opacity=1);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;*/
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    
}

.projectOff{
    /*filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;*/
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

#projOverlay{
    /* Firefox */
    width: -moz-calc(100% - 40px);
    /* WebKit */
    width: -webkit-calc(100% - 40px);
    /* Opera */
    width: -o-calc(100% - 40px);
    /* Standard */
    width: calc(100% - 40px);
    height: 0px;
    margin: 10px 10px 0px;
    /* background-color: black; */
    position: absolute;
}


#fade{
    position:absolute;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #000;
}

/***********************
portfolio page
************************/

#projectsContainer {
    background-color: #000;
    width: 100%;
    z-index: 0;
}

#projectDetail {
    position: relative;
    padding-top: 80px;
    margin: 0px auto;
    text-align: center;
    width: 80%;
    line-height: 1;
}

#project {
    position: relative;
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
    height: 300px;
    width: 700px;
}
#projName {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
}
#projDesc {
    margin-top: 20px;
    width: 100%;
}

#featDesc {
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 20px;
    width: 70%;
    text-align:center;
}

#projLink {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 12px 0px 0px;
    text-align: center;
    background-color: none;
    background-image: url(../img/linkBg.png);
    background-repeat: no-repeat;
}
#projType {
    margin: 0px auto;
    padding: 0px auto;
    width: 100px;
    float: right;
    background-color: rgba(255, 230, 0, 1);
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.headerBoarder {
    margin: -10px 0px 0px;
    padding: 0 auto;
    width: 100%;
    height: 4px;
    background-image: url(../img/portBoarder.png);
}

/* 


for the detail page 


*/

#projectsDetailContainer {
    background-color: #000;
    z-index: 1;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#projectsHeader {
    background-color: #f9f5ed;
    color: #f9f5ed;
    margin: 0;
    padding: 0;
}

#featureCopy {
    z-index: 1;
    margin: 40px 0px 0px;
    padding: 0px auto;
    width: 100%;
    text-align:center;
    position: absolute;
}

#projectsFeatured {
    background-color: #000;
    color: #000;
    width:100%;
    height:450px;
    text-align:center;
    margin: 0 auto;
    padding: 0 auto;
    z-index: 1;
    overflow: hidden;
}

#projectsDetailImages {
        /*background: -moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* FF3.6+ */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(90%, rgba(255, 255, 255, 90)));*/
        /* Chrome,Safari4+ */
       /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Chrome10+,Safari5.1+ */
        /*background: -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Opera 11.10+ */
       /* background: -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* IE10+ */
       /* background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* W3C */
       /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);*/
        /* IE6-9 */
    z-index: 0;
    margin: 0 auto;
    margin-top: 75px;
    width: 840px;
    height: 100%;
    overflow: hidden;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.featureBoarder {
    margin: -50px 0px 0px;
    padding: 0 auto;
    text-align: center;
    width: 100%;
    height: 4px;
    background-image: url(../img/portBoarder.png);
}

#reelBoxDetail {
    z-index: 0;
    position: relative;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    
    overflow: hidden;
    background: #330000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #330000 0%, #ff0000 63%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #330000), color-stop(63%, #ff0000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #330000 0%, #ff0000 63%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #330000 0%, #ff0000 63%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #330000 0%, #ff0000 63%);
    /* IE10+ */
    background: linear-gradient(to bottom, #330000 0%, #ff0000 63%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#330000', endColorstr='#ff0000', GradientType=0);
    /* IE6-9 */
}

#projectsDetailVideo {
    z-index: -1;
}

.detailVideo iframe,
.detailVideo object,
.detailVideo embed {
    margin: 50px 0px 50px 0px;
    width: 800px;
    height: 450px;
    text-align: center;
}

.detailImage {
    background: none;
    margin: 10px auto;
    padding: 0 auto;
    width: 800px;
}

.detailImageCopy {
    background: none;
    margin: 50px auto;
    padding: 0 auto;
    width: 700px;
}

#detailHeader {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 65px;
    background-color: #330000;
    z-index:99;
    
}

.imagesHeader{
    font-size: 32px;
    color: rgba(8, 255, 255, 1);
    padding-bottom: 10px;
    margin: 0px 0px -20px 0px;
    padding: 0 auto;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
}

.imagesHeaderMargin{
    font-size: 32px;
    color: rgba(8, 255, 255, 1);
    padding-bottom: 10px;
    margin: 75px 0px -20px 0px;
    padding: 0 auto;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
}

#headerIn{
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("../img/detailHeaderNaviBack.jpg");
    height: 55px;
}

.detailFooter {
    z-index: 0;
    margin: 50px 0px 0px;
    padding: 0 auto;
    width: 100%;
    height: 50px;
}
.titleHeader {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 160px;
    height: 65px;
    background-image: url("../img/headerTitleBg.png");
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
h2.workTitle {
    color: #fff;
    text-decoration: none;
    font-family: "bree-serif",sans-serif;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: .007em;
    margin: 0px 0px 0px;
    padding: 12px 0px 0px;
}
#prevTop {
    float: left;
    margin: 14px 20px 0px;
    padding: 0 auto;
    width: 70px;
    height: 30px;
    background: transparent;
    background-image: url('../img/preBtnBg.png');
}
#nextTop {
    float: right;
    margin: -51px 20px 0px 0px;
    padding: 0 auto;
    width: 70px;
    height: 30px;
    background: transparent;
    background-image: url('../img/nextBtnBg.png');
}

#prevBottom {
    float: left;
    margin: 0px 20px 0px;
    padding: 0 auto;
    width: 70px;
    height: 30px;
    background: transparent;
    background-image: url('../img/preBtnBg.png');
}
#nextBottom {
    float: right;
    margin: 0px 20px 0px 0px;
    padding: 0 auto;
    width: 70px;
    height: 30px;
    background: transparent;
    background-image: url('../img/nextBtnBg.png');
}

#prev {
    float: left;
    margin: 0 auto;
    padding: 0 auto;
    background: none;
    width: 136px;
    height: 34px;
    background-image: url('../img/leftPageBg.png') no-repeat;
}
#prevLink{
    position:relative;
    margin: 5px 0px 0px 6px;
    
}
#next {
    float: right;
    margin: 0px 0px 0px -9px;
    padding: 0 auto;
    background: none;
    width: 136px;
    height: 34px;
    background-image: url('../img/rightPageBg.png') no-repeat;
}
#nextLink{
    position:relative;
    margin: 5px 4px 0px 0px;
}
h4#pagNavi {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #45ff00;
    padding: 0;
    margin: 0;
    text-align: center;
}
#3dLayer {
    width:100%;
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    overflow: hidden;
}

#Load_Hide{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 450px;
    background-color: rgb(4, 74, 74);
}

/*****************
loader
******************/

#loading {
    width: 58px;
    height: 58px;
    background: none;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-top: -28px;
    margin-left: -28px;
    border: 0;
    display: none;
}
h4#goLoad {
    font-size: 52px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 900;
    color: #45ff00;
    padding: 0;
    margin: 0;
    margin-top: 58px;
    margin-left: 13px;
    text-align: center;
}
/*****************
reel solo page specfic
******************/

#linkContainer {
    padding: 0 auto;
    margin: 36px 0px 0px 0px;
}
.sideLink {
    text-align: left;
    font-size: 4em;
    font-family: "bree-serif",sans-serif;
    font-weight: 400;
    display: block;
}

#navigation {
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    position: fixed;
    background-color: #ff0000;
    width: 50px;
    z-index: 999;
}
#naviContainer {
    margin: 0px 0px 0px;
    overflow: hidden;
    width: 0%;
    height: 0%;
}
#naviButton {
    position: absolute;
    margin: 0px 0px 0px;
    z-index: 1;
    width: 45px;
    height: 45px;
    background-color: #ff0000;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    overflow: hidden;
    
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

#naviButton:hover {
    position: absolute;
    margin: 0px 0px 0px;
    width: 45px;
    height: 45px;
    background-color: #e00101;
    overflow: hidden;
}

#naviButtonContainer {
    position: absolute;
    width: 45px;
    overflow: show;
    margin: 0;
    padding: 0;
}
#naviButtonImage {
    position: absolute;
    width: 45px;
    margin: 0;
    padding: 0;
}
#naviBar {
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px;
    z-index: 0;
    text-align: left;
    overflow: hidden;
    width: 0px;
    height: 0px;
}
#naviIn {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 50px;
    background-color: #000;
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
}

.naviBarHide {
    margin-top: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
}
.naviBarShow {
    margin-top: -19px;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
}

.naviBarOut {
    margin-top: -50px;
    opacity: 0;
    filter: alpha(opacity=100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contentShow {
    margin: 0;
}
.contentHide {
    margin: 0;
}

#content {
    width: 100%;
    background-color: none;
    padding: 0 auto;
    margin: 0 auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
/*****************
text styles
******************/

h1 {
    font-size: 10px;
    color: rgba(107, 107, 107, 1);
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 100;
    padding: 10px 10px 10px;
}
h2 {
    font-size: 140%;
    color: #CF0;
}
h3 {
    font-size: 54px;
    color: rgba(8, 255, 255, 1);
    padding-bottom: 10px;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
}

h3#featureH3 {
    font-size: 180px;
    padding: 0px 0px 10px;
    margin: 0 auto;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .005em;
    color: #FFE600;
    text-decoration: none;
}
h4 {
    font-size: 22px;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 900;
}
h5 {
    font-size: 21px;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 600;
    color: #5B5B5B;
    padding: 0;
    margin: 0;
    letter-spacing: .02em;
}
pre {
    font-family: Verdana, Arial, sans-serif;
    font-size: 80%;
}
a {
    margin: 10px 10px 10px;
    color: #fff;
    text-decoration: underline;
    -webkit-transition: color 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
}
a:hover {
    color: #fff;
    -webkit-transition: color 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
}
a:visited {
    color: #fff;
    -webkit-transition: color 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
}
a:active {
    color: #fff;
    -webkit-transition: color 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
}

a.viewProject{
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: .8em;
    
    letter-spacing: .01em;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

a.viewProject:hover{
    color: #ffeb00;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    letter-spacing: .01em;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}


.sideLink > a {
    margin: 0px 0px 0px;
    color: #ff0000;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.sideLink > a:hover {
    margin: 0px 20px 0px;
    color: #ff0000;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.sideLink > a:visited {
    margin: 0px 20px 0px;
    color: #ff0000;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.sideLink > a:active {
    margin: 0px 20px 0px;
    color: #ff0000;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    
}

p {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 1.7em;
    letter-spacing: .008em;
    font-family: Verdana, Geneva, sans-serif;
}
p.descCopy {
    color: #ffffff;
    padding: 0 auto;
    margin: 10px 0px 0px;
    font-size: 13px;
    line-height: 2em;
    letter-spacing: .008em;
    font-family: Verdana, Geneva, sans-serif;
}
hr {
    width: 100%;
    background-color: #fff;
    border: #000 0px solid;
    border-style: none none solid;
    color: #fff;
}

hr.naviHR {
    width: 100%;
    background-color: #FFE600;
    border: #000 0px solid;
    border-style: none none solid;
    color: #fff;
    margin-top: -15px;
}
/*****************
content areas
******************/

#bgImageContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -999;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    background-color: #000;
}
#bgImage,
#bgImage2,
#bgImage3,
#bgImage4,
#bgImage5,
#bgImage6,
#bgImage7,
#bgImage8,
#bgImage9,
#bgImage10,
#bgImage11,
#bgImage12,
#bgImageEnd {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    overflow: hidden;
    background-color: #000;
}
#bgImage img,
#bgImage2 img,
#bgImage3 img,
#bgImage4 img,
#bgImage5 img,
#bgImage6 img,
#bgImage7 img,
#bgImage8 img,
#bgImage9 img,
#bgImage10 img,
#bgImage11 img,
#bgImage12 img,
#bgImageEnd img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    overflow: hidden;
    background-color: #000;
}
#reelBox {
    z-index: 990;
    position: relative;
    background-color: #fff;
    width: 80%;
    padding: 5px;
    overflow: hidden;
    margin: -50px 0px 0px -1000px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    display: block;
}
#player1 div,
#player1 object,
#player1 embed,
#player1 iframe {
    background-color: #fff;
}
iframe,
embed,
object {
    max-width: 100%;
    height: auto;
}
.video-container {
    background: white !important;
}
/***********
for the copy ticker
*************/

#theClientCopy {
    position: absolute;
    background-color: #fff;
    margin: 10px 10px 10px;
    padding: 20px auto;
    height: 40px;
    text-align: center;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#clientCotain {
    width: 100%;
    text-align: center;
    margin: 11px 0px 10px 0px;
}
#clientCotain2 {
    background-color: #000;
}

/*****************
for the fly
******************/

#extraBg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    background-color: #000;
    overflow: hidden;
    z-index: 999;
}

#extraFly{
    position: fixed;
    top: -100px;
    left: -100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 999;
}

#extraBgIn {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}
@media only screen and (max-width: 800px) {
    .sideLink {
        text-align: left;
        font-size: 3.7em;
        font-family: "bree-serif",sans-serif;
        font-weight: 400;
        display: block;
    }
    .sideLink > a {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:hover {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:visited {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:active {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;

    }

    #prevTop {
        float: left;
        margin: 14px 10px 0px;
        padding: 0 auto;
        width: 70px;
        height: 30px;
        background: transparent;
        background-image: url('../img/preBtnBg.png');
    }
    #nextTop {
        float: right;
        margin: -51px 10px 0px 0px;
        padding: 0 auto;
        width: 70px;
        height: 30px;
        background: transparent;
        background-image: url('../img/nextBtnBg.png');
    }
    
    #projectDetail {
        position: relative;
        padding-top: 80px;
        margin: 0px auto;
        text-align: center;
        width: 80%;
        line-height: 1;
    }
    
    #project {
        position: relative;
        padding-top: 50px;
        margin: 0px auto;
        text-align: center;
        width: 80%;
        line-height: 1;
    }
    #projName {
        margin: 0 auto;
        padding-bottom: 10px;
        width: 100%;
    }
    #projDesc {
        margin-top: 5px;
        width: 100%;
        overflow: hidden;
    }
    #projLink {
        width: 70px;
        height: 28px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 4px 0px 0px;
        text-align: center;
        background-color: none;
        background-image: url(../img/linkBgMoble.png);
        background-repeat: no-repeat;
    }
    #projType {
        margin: 0px auto;
        padding: 0px auto;
        width: 100px;
        overflow:hidden;
        float: right;
        background-color: rgba(255, 230, 0, 1);
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .headerBoarder {
        margin: -15px 0px 0px;
        padding: 0 auto;
        width: 100%;
        height: 4px;
        background-image: url(../img/portBoarder.png);
    }
    
    #featureCopy {
        z-index: 1;
        margin: 15px 0px 0px;
        padding: 0px auto;
        width: 100%;
        text-align:center;
        position: absolute;
    }
    
    .featureBoarder {
        margin: -25px 0px 0px;
        padding: 0 auto;
        text-align: center;
        width: 100%;
        height: 4px;
        background-image: url(../img/portBoarder.png);
    }
    
    #prevLink{
        position:relative;
        margin: 5px 0px 0px 4px;
    }
    
    #nextLink{
        position:relative;
        margin: 4px 2px 0px 0px;
    }
    
    
    p.descCopy {
        color: #ffffff;
        padding: 0 auto;
        margin: 0 auto;
        margin: 10px 0px 0px;
        font-size: 13px;
        line-height: 1.5em;
        letter-spacing: .008em;
        font-family: Verdana, Geneva, sans-serif;
    }
    h3 {
        font-size: 36px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 0;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    .imagesHeader{
        font-size: 24px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 0px 0px -20px 0px;
        padding: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    .imagesHeaderMargin{
        font-size: 24px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 60px 0px -20px 0px;
        padding: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    #projType {
        margin: 0px auto;
        padding: 0px auto;
        width: 80px;
        float: right;
        overflow:hidden;
        background-color: rgba(255, 230, 0, 1);
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
    }
    h1 {
        font-size: 10px;
        color: rgba(107, 107, 107, 1);
        font-family: 'Montserrat', Verdana, Arial, sans-serif;
        font-weight: 100;
        padding: 10px 10px 10px;
    }
    h3#featureH3 {
        font-size: 80px;
        padding: 50px 0px 10px;
        margin: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .003em;
        color: #FFE600;
        text-decoration: none;
    }
    /* for the detail pages */
    #projectsDetailImages {
        /*background: -moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* FF3.6+ */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(90%, rgba(255, 255, 255, 90)));*/
        /* Chrome,Safari4+ */
       /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Chrome10+,Safari5.1+ */
        /*background: -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Opera 11.10+ */
       /* background: -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* IE10+ */
       /* background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* W3C */
       /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);*/
        /* IE6-9 */
        /* IE6-9 */
        z-index: 0;
        padding-top: 5px;
        margin-top: 35px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
    }

    .detailImage {
        background: none;
        margin: 10px auto;
        padding: 0 auto;
        width: 100%;
    }
    
    .detailImageCopy {
        background: none;
        margin: 50px auto;
        padding: 0 auto;
        width: 70%;
    }
    
    .detailVideo iframe,
    .detailVideo object,
    .detailVideo embed {
        margin: 20px 0px 15px 0px;
        width: 350px;
        height: 197px;
        text-align: center;
    }
    
    a.viewProject{
        color: #ffffff;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 600;
        font-size: .7em;
        letter-spacing: .01em;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    a.viewProject:hover{
        color: #ffeb00;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 600;
        letter-spacing: .01em;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }
}


@media only screen and (max-width: 800px) and (orientation: portrait) {
    .sideLink {
        text-align: left;
        font-size: 3.2em;
        font-family: "bree-serif",sans-serif;
        font-weight: 400;
        display: block;
    }
    
    .sideLink > a {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:hover {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:visited {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;
    }
    .sideLink > a:active {
        margin: 0px 0px 0px;
        color: #ff0000;
        text-decoration: none;

    }
    #prevTop {
        float: left;
        margin: 14px 6px 0px;
        padding: 0 auto;
        width: 70px;
        height: 30px;
        background: transparent;
        background-image: url('../img/preBtnBg.png');
    }
    #nextTop {
        float: right;
        margin: -51px 6px 0px 0px;
        padding: 0 auto;
        width: 70px;
        height: 30px;
        background: transparent;
        background-image: url('../img/nextBtnBg.png');
    }
    
    #projectDetail {
        position: relative;
        padding-top: 80px;
        margin: 0px auto;
        text-align: center;
        width: 80%;
        line-height: 1;
    }
    
    #project {
        position: relative;
        padding-top: 50px;
        margin: 0px auto;
        text-align: center;
        width: 80%;
        line-height: 1;
    }
    #projName {
        margin: 0 auto;
        padding-bottom: 10px;
        width: 100%;
    }
    #projDesc {
        margin-top: 5px;
        width: 100%;
        overflow: hidden;
    }
    #projLink {
        width: 70px;
        height: 28px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5px 0px 0px;
        text-align: center;
        background-color: none;
        background-image: url(../img/linkBgMoble.png);
        background-repeat: no-repeat;
    }
    #projType {
        margin: 0px auto;
        padding: 0px auto;
        width: 100px;
        float: right;
        background-color: rgba(255, 230, 0, 1);
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .headerBoarder {
        margin: -15px 0px 0px;
        padding: 0 auto;
        width: 100%;
        height: 4px;
        background-image: url(../img/portBoarder.png);
    }
    
    #featDesc {
        margin: 0 auto;
        padding: 0 auto;
        margin-top: 20px;
        width: 80%;
        text-align:center;
    }
    
    #featureCopy {
        z-index: 1;
        margin: 15px 0px 0px;
        padding: 0px auto;
        width: 100%;
        text-align:center;
        position: absolute;
    }
    
    .featureBoarder {
        margin: -25px 0px 0px;
        padding: 0 auto;
        text-align: center;
        width: 100%;
        height: 4px;
        background-image: url(../img/portBoarder.png);
    }
    
    #prevLink{
        position:relative;
        margin: 2px 0px 0px 4px;
    }
    
    #nextLink{
        position:relative;
        margin: 2px 2px 0px 0px;
    }
    
    
    p.descCopy {
        color: #ffffff;
        padding: 0 auto;
        margin: 0 auto;
        margin: 10px 0px 0px;
        font-size: 13px;
        line-height: 1.5em;
        letter-spacing: .008em;
        font-family: Verdana, Geneva, sans-serif;
    }
    h3 {
        font-size: 36px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 0;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    .imagesHeader{
        font-size: 24px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 0px 0px -20px 0px;
        padding: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    .imagesHeaderMargin{
        font-size: 24px;
        color: rgba(8, 255, 255, 1);
        padding-bottom: 10px;
        margin: 60px 0px -20px 0px;
        padding: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .01em;
    }
    
    #projType {
        margin: 0px auto;
        padding: 0px auto;
        width: 80px;
        float: right;
        background-color: rgba(255, 230, 0, 1);
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
    }
    h1 {
        font-size: 10px;
        color: rgba(107, 107, 107, 1);
        font-family: 'Montserrat', Verdana, Arial, sans-serif;
        font-weight: 100;
        padding: 10px 10px 10px;
    }
    h3#featureH3 {
        font-size: 80px;
        padding: 50px 0px 10px;
        margin: 0 auto;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: .003em;
        color: #FFE600;
        text-decoration: none;
    }
    /* for the detail pages */
      #projectsDetailImages {
        /*background: -moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* FF3.6+ */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(90%, rgba(255, 255, 255, 90)));*/
        /* Chrome,Safari4+ */
       /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Chrome10+,Safari5.1+ */
        /*background: -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* Opera 11.10+ */
       /* background: -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* IE10+ */
       /* background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 90%);*/
        /* W3C */
       /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);*/
        /* IE6-9 */
        /* IE6-9 */
        z-index: 0;
        padding-top: 5px;
        margin-top: 35px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
    }

    .detailImage {
        background: none;
        margin: 10px auto;
        padding: 0 auto;
        width: 100%;
    }
    
    .detailImageCopy {
        background: none;
        margin: 50px auto;
        padding: 0 auto;
        width: 70%;
    }
    
    .detailVideo iframe,
    .detailVideo object,
    .detailVideo embed {
        margin: 20px 0px 15px 0px;
        width: 350px;
        height: 197px;
        text-align: center;
    }
    
    a.viewProject{
        color: #ffffff;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 600;
        font-size: .7em;
        letter-spacing: .01em;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    a.viewProject:hover{
        color: #ffeb00;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 600;
        letter-spacing: .01em;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }
}


/*

for transitions

*/

#transDiv{
    position: fixed;
    width:100%;
    height:0%;
    left: 0;
    top: 0;
    margin: 0 auto;
    padding: 0 auto;
    z-index: 999999;
    overflow: hidden;
}

#trans1{
    position: absolute;
    width:100%;
    height:0%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
    z-index: 4;
}


#trans2{
    position: absolute;
    width:100%;
    height:0%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgba(255, 230, 0, 1);
    z-index: 3;
}



#trans3{
    position: absolute;
    width:100%;
    height:0%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgba(8, 255, 255, 1);
    z-index: 2;
}


#trans4{
    position: absolute;
    width:100%;
    height:0%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #ff0000;
    z-index: 1;
}


@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dppx) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color:transparent;
    border:0;
    overflow:hidden;
    *text-indent:-9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href)")";
    }
    abbr[title]:after {
        content: " (" attr(title)")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}