<!-- for the reel-->
<div id="reelBox">
	<div class="video-container">
		<iframe id="player1" src="http://player.vimeo.com/video/75912194?api=1&amp;color=ff0000;player_id=player1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>

<!-- for the reelBg-->
<div id="bgImageContainer">
  <div id="bgImage">
	<img src="img/clients/info/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage2">
	<img src="img/clients/blackberry/back.jpg" title="" alt=""/>
  </div>
   <div id="bgImage3">
	<img src="img/clients/boa/back.jpg" title="" alt=""/>
  </div>
  <div id="bgImage4">
	<img src="img/clients/lunchables/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage5">
	<img src="img/clients/compre/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage6">
	<img src="img/clients/comicVolt/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage7">
	<img src="img/clients/nabisco/back.jpg" title="" alt=""/>
  </div>
  <div id="bgImage8">
	<img src="img/clients/recp/back.jpg" title="" alt=""/>
  </div>
  <div id="bgImage9">
	<img src="img/clients/DYDH/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage10">
	<img src="img/clients/4iphoto/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage11">
	<img src="img/clients/officeDepot/back.jpg" title="" alt=""/>
  </div>
	<div id="bgImage12">
	<img src="img/clients/oldPort/back.jpg" title="" alt=""/>
  </div>
  <div id="bgImageEnd">
	<img src="img/clients/reel/back.jpg" title="" alt=""/>
  </div>
</div>